node_modules
npm-debug.log
.env
.env.test
.git
.gitignore
README.md
Dockerfile
.dockerignore
coverage
.coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
